
@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@keyframes fadeinMenu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


.navbar-filled{
    transition: all ease-in .3s;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);

}

.navbar-filled #logo{
    transition: all ease-in .3s;
    filter: invert(100%);
}

#navbar{
    transition: all ease-in .3s;
    width: 100%;
    position: fixed;
    animation: fadein .5s;
    z-index: 100;
    height: 60px;
}

.relative_bar{
    width: 100%;
    position: relative;
    height: 64px;
}

.invisible{
    display: none !important;
}

#bar_left{
    float: left;
    width: 20%;
    height: 100%;
}
#bar_right{
    float: right;
    list-style: none;
    width: 80%;
    height: 100%;
}

#logo{
    width: 40px;
    padding: 10px;
}

ul, h3{
    margin: 0;
    padding: 0;
}

li{
    float: right;
}

@media screen and (min-width: 768px){
    .mobile{
        display: none;
    }

    .pc{
        display: block;
    }

    #menu_button_mobile{
        display: none;
    }
    
    .menu_items{
        padding: 19.5px 0px 0px 0px;
    }

    .menu_items a{
        padding: 19.5px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        transition: 0.3s ease-in-out;
    }

    .menu_items a:hover{
        color: rgba(255, 255, 255, 1);
    }

}

@media screen and (max-width: 768px){
    .mobile{
        display: block;
    }

    .pc{
        display: none;
    }
    #menu_button_mobile{
        display: block;
    }

    #mobile_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        width: calc(100vw - 33px);
        height: calc(100% - 103px);
        margin: 83px 17px;
        position: fixed;
        background-color: #ffffff;
        transition: 0.3s ease-in-out;
        animation: fadeinMenu .5s;
        z-index: 10;
        border-radius: 10px;
    }

    #menu_logo{
        color: white;
        margin: 0px;
        font-size: 35px;
        padding: 12px;
        transition: all ease-in .3s;
    }

    .menu-logo-black{
        color: black !important;
        transition: all ease-in .3s;
    }

    .menu_items_mobile{
        float: left !important;
        text-align: center;
        width: 100%;
    }
    
    .menu_items_mobile a{
        text-align: center;
        padding: 15px 0px;
        width: 100%;
        float: left;
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out; 
        font-size: 20px;
        font-weight: 400;

    }
    
}