body,html, #root, .App{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    
    
    
}

.App, #root{
    overflow-y: auto;
}

body {
    background: rgb(38,0,110);
    background: linear-gradient(326deg, #0059be 0%, #44dada 100%);
    /*background: linear-gradient(326deg, #ff3737 0%, #da448f 100%);*/
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
